fastapi
uvicorn
python-multipart
numpy<2.0.0
torch
torchvision
facenet-pytorch
insightface==0.7.3
onnx==1.15.0
onnxruntime
pillow
scikit-learn
opencv-python-headless
psycopg2-binary
setuptools
wheel
cython
