# Web Framework and Server
fastapi
uvicorn
python-multipart

# Database
sqlalchemy
psycopg2-binary

# Image Processing
numpy
pillow
opencv-python-headless

# Machine Learning & AI Models
torch
torchvision
facenet-pytorch
insightface
onnxruntime
